/*=============== GOOGLE FONTS ===============*/

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(218, 94%, 45%);
  --first-color-alt: hsl(218, 100%, 40%);
  --second-color: hsl(200, 85%, 64%);
  --title-color: hsl(218, 48%, 22%);
  --text-color: hsl(218, 8%, 36%);
  --text-color-light: hsl(218, 8%, 54%);
  --white-color: hsl(218, 100%, 98%);
  --white-color-light: hsl(218, 48%, 80%);
  --dark-color: hsl(218, 68%, 18%);
  --gray-color: hsl(0, 0%, 92%);
  --body-color: hsl(0, 0%, 100%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Nunito", sans-serif;
  --body-font-two: "Quicksand", sans-serif;

  --biggest-font-size: 2.25rem;
  --bigger-font-size: 1.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;

  /*========== Font weight ==========*/
  --font-regularx: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;
  --font-extra-bold: 800;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  transition: background-color 0.4s;
}

h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 1.5rem;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 1200px;
    padding: 20px 20px;
  }
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px; /* 👈 important */
  z-index: var(--z-fixed);
}
.nav {
  width: 100%;
  background: white;
}

.nav__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.nav__links {
  display: flex;
  gap: 2rem;
}

.nav__links a {
  font-family: var(--body-font-two);
  font-weight: var(--font-regular);
  font-size: 16px;
  color: #6b7280;
  transition: color 0.2s ease;
}

.nav__links a:hover,
.nav__links a.active {
  color: #111;
}

.contact__us {
  border: 1px solid #3b82f6;
  padding: 8px 30px;
  border-radius: 999px;
  color: #3b82f6;
  font-family: var(--body-font-two);
  font-weight: var(--font-bold);
  font-size: 14px;
}

.contact__us:hover {
  background: #3b82f6;
  color: #fff;
}

/* Hamburger (hidden on desktop) */
.nav__toggle {
  display: none;
}

/*=============== HERO ===============*/
.hero {
  padding-top: 150px; /* header height + spacing */
  text-align: center;
}

.hero__content {
  margin: 0 auto 3rem; /*top | left & right | bottom */
  max-width: 729px;
}

.hero h1 {
  font-weight: var(--font-extra-bold);
  font-size: 45px;
  font-family: var(--body-font);
  color: #1d1d1d;
  margin-bottom: 20px;
}

.hero p {
  font-weight: 200;
  font-size: 20px;
  font-family: var(--body-font);
  color: #464646;
}

.hero__image img {
  width: 100%;
  max-width: 1200px; /* control max size */
  margin: 0 auto;
  display: block;
}

/*=============== About US ===============*/

.about__sec {
  margin-top: 30px;
}

.about__us {
  text-align: center;
}

.about__us p {
  color: #377dff;
  font-size: 24px;
  font-weight: var(--font-semi-bold);
  font-family: var(--body-font-two);
}

.about__us h2 {
  color: #1d1d1d;
  font-size: 45px;
  margin-top: 8px;
  font-weight: var(--font-bold);
  font-family: var(--body-font);
}

.aboutus__team {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: 4rem;
}

.aboutus__img {
  flex: 1; /* 50% */
}

.aboutus_para {
  flex: 1; /* 50% */
  /* margin-top: 10px; */
}

.aboutus_para p {
  font-size: 18px;
  font-weight: var(--font-regularx);
  color: #464646;
  font-family: var(--body-font-two);
}

.aboutus_para p:last-of-type {
  margin-top: 20px;
}

.aboutus__button {
  display: flex;
  gap: 5px;
  margin-top: 15px;
}

.aboutus__button button {
  border: solid 1px #377dff;
  background: white;
  padding: 8px 25px;
  border-radius: 30px;
  color: #377dff;
}

.aboutus__button button:first-of-type {
  background: #377dff;
  color: #fff;
}

/*=============== Our Service =============== */

.our__service {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: 4rem;
}
.our__service__secone {
  flex: 1;
}

.our__service__secone p {
  color: #377dff;
  font-size: 24px;
  font-weight: var(--font-semi-bold);
  font-family: var(--body-font-two);
}

.our__service__secone h2 {
  color: #1d1d1d;
  font-size: 45px;
  margin-top: 8px;
  font-weight: var(--font-bold);
  font-family: var(--body-font);
}

.our__service__secone p:last-of-type {
  font-size: 18px;
  font-weight: var(--font-regularx);
  color: #464646;
  font-family: var(--body-font-two);
}

.our__service__sectwo {
  flex: 1;
}

.services {
  display: grid;
  grid-template-columns: repeat(2, 220px);
  gap: 30px;
}

.card {
  background: #ffffff;
  border-radius: 20px;
  padding: 30px 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.icon {
  width: 70px;
  height: 70px;
  margin: 0 auto 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 28px;
}

.blue {
  background: #3b82f6;
}

.red {
  background: #ef4444;
}

.green {
  background: #6ee75a;
}

.orange {
  background: #f59e0b;
}

.card h3 {
  font-size: 18px;
  font-weight: 600;
  color: #111827;
  line-height: 1.4;
}

/*=============== Collaboration ===============*/
.collaboration {
  margin-top: 100px;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.collab__one {
  flex: 1;
  /* align-items: start;  vertically alignment */
  /* justify-items: start;  horizontal alignment */
}

.collab__two {
  flex: 1;
}

.collab__one h2 {
 
  color: #1d1d1d;
  font-size: 45px;
  margin-top: 8px;
  font-weight: var(--font-bold);
  font-family: var(--body-font);
  width: 350px;
}

.collab__one p {
  font-size: 18px;
  font-weight: var(--font-regularx);
  color: #464646;
  font-family: var(--body-font-two);
  
}


.collab__one button {
  margin-top: 15px;
   border: solid 1px #377dff;
  background: white;
  padding: 8px 25px;
  border-radius: 30px;
  color: #377dff;
}



.collab__two img {
  /* width: 50%; */
  
}

/*=============== BREAKPOINTS ===============*/

/*=============== for hamburger menu ===============*/
@media screen and (max-width: 768px) {
  .nav__links {
    display: none;
    z-index: 1000;
  }
  .contact__us {
    display: none;
  }

  .nav__toggle {
    display: flex;
    cursor: pointer;
  }
  .nav {
    position: relative;
  }

  .nav__links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem 0;
    display: none;
    text-align: center;
  }

  /* Show menu when active */
  .nav__links.show-menu {
    display: flex;
  }
}

/*=============== For HERO ===============*/
@media (max-width: 768px) {
  .hero {
    padding-top: 120px;
  }

  .hero h1 {
    font-size: 32px;
  }

  .hero p {
    font-size: 16px;
  }

  .hero__content {
    margin-bottom: 2rem;
  }
}

@media (max-width: 375px) {
  .hero h1 {
    font-size: 26px;
  }

  .hero p {
    font-size: 15px;
  }
}

/*=============== About US ===============*/
@media (max-width: 768px) {
  .about__sec {
    margin-top: 1px;
  }

  .about__us h2 {
    font-size: 14px;
  }

  .about__us p {
    color: #1d1d1d;
    font-size: 24px;
    margin-top: 4px;
  }
  .aboutus__team {
    flex-direction: column-reverse;
    text-align: center;
    margin-top: 1rem;
  }
  .aboutus_para p {
    font-size: 14px;
  }

  .aboutus__button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*=============== Service ===============*/

@media (max-width: 768px) {
  .our__service {
    display: flex;
    flex-direction: column;
  }
  .card {
    padding: 50px 20px;
  }
}

@media (max-width: 556px) {
  .services {
    display: grid;
    grid-template-columns: repeat(1, 220px);
    gap: 30px;
  }
}



/*=============== Collaboration ===============*/
@media (max-width: 768px) {
  .collaboration {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }


  .collab__one h2 {
  width: 100%;
}


}
